#schedule {
  padding: 60px 0 60px 0;
}
#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}
#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}
#schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}
@media (max-width: 991px) {
  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}
@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}
@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}
#schedule .nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}
#schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}
@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}
#schedule .tab-pane {
  transition: ease-in-out 0.2s;
}
#schedule .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}
#schedule .schedule-item:hover {
  background-color: #fff;
}
#schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}
#schedule .schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}
#schedule .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}
#schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
#schedule .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}
#schedule .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}
